* {
    background-color: #466e51;
    color: #f57b1f;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px;
    color: #242424;
    border-top: 10px solid #242424;
}

h1 {
    font-size: 3em;
    margin: 5px;
}

p {
    line-height: 1.4em;
    max-width: 800px;
}

#blog {
    padding: 15px;
    border-top: 3px solid #000;
}

figure {
    float: left;
    margin: 0;
    margin-right: 10px;
    caption-side: bottom;
    text-align: center;
    padding: 10px;
    font-size: smaller;
}

.blog-post {
    border-bottom: 2px solid #d6ccab;
}

nav {
    position: sticky;
    top: 0;
}

nav a[href]{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #2f2f2f;

}

nav li{
    color: #2f2f2f;
    padding: 3px;
    display: inline-block;
    list-style-type: none;
    
}

time {
    color: #a76b0f;
}

a[href]:visited{
    color:#d6ccab;
}

table {
    padding: 10px;
}
footer {
    margin-top: 10px;
}

div {
    display: flex;
}

article {
    margin: 10px;
}

@media (max-width: 400px) {
    * {
        font-size: 8px;
        font-family:'Courier New', Courier, monospace;
    }
    
}